h1 {
  color: white;
  background: transparent;
}

body {
  background-color: grey;
}

* {
  padding: auto;
  margin: auto;

  text-align: centre;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 40%;
  height: 80vh;
  background-color: rosybrown;
  border-radius: 15px;
}

input {
  width: 80%;
  text-align: left;
  height: 50px;
  top: 20px;
  font-size: 20px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  align-items: center;
}

button:hover {
  background-color: teal;
}

.container {
  width: 55%;
}

.todo .style {
  margin: 0 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
